{% extends 'base.html' %}

{% load static %}

{% block title %} About {% endblock title %}

{% block main-content %}

    <div class="container-fluid">
        <img src="/static/images/about/about-us-banner.png" class="d-block w-100 h-25 px-5" alt="about-us img" />
    </div>
    <div class="container w-50 mt-5">
        <table class="table table-responsive-lg" style="font-family: arial; font-size: 15px; border: 1px solid #eeeeee;">
            <tr>
                <td colspan="2" class="table-light text-center px-4 py-5">
                    <p class="m-0 text-secondary">Welcome to ShopK, your one-stop destination for all your online shopping needs. We are passionate about providing a seamless and enjoyable shopping experience to our customers, offering a wide range of high-quality products and exceptional customer service.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="/static/images/about/1st.avif" alt="free Sightseeing" class="img-fluid">
                </td>
                <td class="py-3">
                    <p class="m-0 text-body">At ShopK, we understand the convenience and comfort of shopping from the comfort of your own home. That's why we have carefully curated a diverse collection of products to cater to your varying needs and preferences. Whether you're searching for trendy fashion items, innovative gadgets, home essentials, or unique gifts, we have you covered.</p>
                </td>
            </tr>
            <tr>
                <td class="py-3">
                    <p class="m-0 text-body">We pride ourselves on delivering products that meet the highest standards of quality. We have established strong partnerships with reputable suppliers and brands, ensuring that every item available on our website undergoes rigorous quality control processes. We strive to exceed your expectations by providing you with products that are not only visually appealing but also durable and reliable.</p>
                </td>
                <td>
                    <img src="/static/images/about/2nd.jpg" alt="free Sightseeing" class="img-fluid">
                </td>
            </tr>
            <tr>
                <td>
                    <img src="/static/images/about/3rd.jpg" alt="free Sightseeing" class="img-fluid">
                </td>
                <td class="py-3">
                    <p class="m-0 text-body">Customer satisfaction is at the core of our business philosophy. We are committed to providing excellent customer service, from the moment you browse our website to the delivery of your purchase and beyond. Our knowledgeable and friendly support team is here to assist you with any inquiries, concerns, or product-related questions you may have. We value your trust and aim to create long-lasting relationships with our customers based on transparency, reliability, and exceptional service.</p>
                </td>
            </tr>
            <tr>
                <td class="py-3">
                    <p class="m-0 text-body">At ShopK, we understand the importance of secure and hassle-free transactions. Our website utilizes the latest technology and industry-standard security measures to protect your personal information and ensure a safe shopping experience. You can shop with confidence, knowing that your privacy and data security are of utmost importance to us.</p>
                </td>
                <td>
                    <img src="/static/images/about/4th.avif" alt="free Sightseeing" class="img-fluid">
                </td>
            </tr>
            <tr>
                <td>
                    <img src="/static/images/about/5th.jpg" alt="free Sightseeing" class="img-fluid">
                </td>
                <td class="py-3">
                    <p class="m-0 text-body">We are constantly evolving and striving to enhance your shopping experience. Your feedback and suggestions are invaluable to us as we continuously improve our services and expand our product offerings. We welcome you to connect with us through our various social media channels and newsletters to stay updated on the latest trends, promotions, and exciting new arrivals.</p>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="table-light text-center px-4 py-5">
                    <p class="m-0 text-secondary">Thank you for choosing ShopK as your preferred online shopping destination. We are honored to serve you and look forward to providing you with an exceptional shopping experience that exceeds your expectations.</p>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="text-center py-4">
                    <p class="m-0 text-body">Happy shopping!<br>The ShopK Team</p>
                </td>
            </tr>
        </table>
    </div>

{% endblock main-content %} 