{% extends 'base.html' %}

{% load static %}

{% block title %} BottomWears {% endblock title %}

{% block banner_slider %}
{% comment %} 
<div class="slideshow-container">
    <div class="mySlides1">
        <img src="/static/images/banner/bottomwear/bottomwear1.jpg" style="width:100%">
    </div>
  
    <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
    <a class="next" onclick="plusSlides(1, 0)">&#10095;</a> 
</div>

<script>
    let slideIndex = [1, 1];
    let slideId = ["mySlides1", "mySlides2"]
    showSlides(1, 0);
    showSlides(1, 1);
    function plusSlides(n, no) {
        showSlides(slideIndex[no] += n, no);
    }
    function showSlides(n, no) {
        let i;
        let x = document.getElementsByClassName(slideId[no]);
        if (n > x.length) { slideIndex[no] = 1 }
        if (n < 1) { slideIndex[no] = x.length }
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        x[slideIndex[no] - 1].style.display = "block";
    }
</script>  {% endcomment %}

{% endblock banner_slider %}

{% block main-content %}

<div class="container my-5 mt-3">
    <div class="row">
        <div class="col-sm-4">
            <div class="list-group">
                <a href=" {% url 'bottomwear' %} " class="list-group-item list-group-item-action" aria-current="true"> All
                    BottomWears </a>
                <a href=" {% url 'bottomweardata' 'below' %} " class="list-group-item list-group-item-action"
                    aria-current="true"> Below 500 </a>
                <a href=" {% url 'bottomweardata' 'above' %} " class="list-group-item list-group-item-action"
                    aria-current="true"> Above 500 </a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                {% for product in bottomwears %}
                <div class="col-md-4 col-6 mb-4">
                    <a href=" {% url 'product-detail' product.id %} " class="btn">
                        <div class="item ani-img">
                            <img src=" {{product.product_image.url}} " alt="" style="width: 140px; margin-top: 14px;" height="200"  class="" data-aos="zoom-in">
                            <div class="fw-bold"> {{product.title}} </div>
                            <div class="fw-bold"> {{product.discounted_price}}
                                <small class="fw-light text-decoration-line-through"> {{product.selling_price}}</small>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}

