{% extends 'base.html' %} 

{% load static %} 

{% block title %}Search Result{% endblock title %} 

{% block main-content %}

<div class="container my-5">
  <div class="col-md-12">
    <div class="row">
      {% if product %} 
      {% for product in product %}
      <div class="col-md-2 col-6 mb-4">
        <a href=" {% url 'product-detail' product.id %} " class="btn">
          <div class="item ani-img">
            <img src=" {{product.product_image.url}} " alt="" style="width: 140px; margin-top: 8px; justify-content: center; aspect-ratio: 1:1; object-fit: contain;" height="140" class="" data-aos="zoom-in" />
            <div class="fw-bold">{{product.title}}</div>
            <div class="fw-bold">
              {{product.discounted_price}}
              <small class="fw-light text-decoration-line-through"> {{product.selling_price}}</small>
            </div>
          </div>
        </a>
      </div>
      {% endfor %} 
      {% else %}
      <div class="col-12 text-center">
        <p class="text-muted fs-4">No results found for your search.</p>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock main-content %} 